{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Breadsite</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
        <meta charset="UTF-8">
    </head>
    <body>
        <div class="page-header">
            <tr>
                <td><h1><a href="/">Breadsite</a></h1></td>
                <td><h1><a href="/stats">Stats</a></h1></td>
            </tr>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>